<app-breadcrumb [title]="'Profile'" [items]="['Apps', 'User']" [active_item]="'Profile'"></app-breadcrumb>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="user-profile">
    <div class="row">
      <!-- user profile first-style start-->
      <div class="col-sm-12">
        <div class="card hovercard text-center">
          <div class="cardheader">
          </div>
          <div class="user-image">
            <div class="avatar"><img alt="" [src]="url? url:'assets/images/user/1.jpg'"></div>
            <div class="icon-wrapper"><i class="icofont icofont-pencil-alt-5"><input class="upload" type="file"
                  (change)="readUrl($event)" /></i></div>
          </div>
          <div class="info">
            <div class="row">
              <div class="col-sm-6 col-lg-4 order-sm-1 order-xl-0">
                <div class="row">
                  <div class="col-md-12">
                    <div class="ttl-info text-left">
                      <h6><i class="fa fa-envelope"></i>   E-mail</h6><span>
                        {{ myProfile.email }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-4 order-sm-0 order-xl-1">
                <div class="user-designation">
                  <div class="title"><a target="_blank" href="">
                    {{myProfile.firstName + " " + myProfile.lastName}}
                  </a></div>
                  <div class="desc mt-2">
                    {{ myRole | translate }}
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="ttl-info text-left">
                      <h6><i class="fa fa-calendar"></i> Created At</h6><span>
                        {{ myProfile.createdAt | date }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-12 text-center">
                <button class="btn btn-success" routerLink="/user/edit-profile">
                 <i class="fa fa-edit"></i> Edit profile infos
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- user profile first-style end-->
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->